<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>404 not found</title>
  <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.6/dist/semantic.min.css'><link rel="stylesheet" href="<%= appURL %>/app/form.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.4/clipboard.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

<script src="https://unpkg.com/@drum-n-bass/kinetics"></script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
  const kinetics = new Kinetics().interactionHook();
});
 </script>
<div class="ui middle aligned center aligned grid" onload="currentURL()">
  <div class="column">

    <div class="ui message red">
      <h1>This url does not exist... Yet.</h1>
      <br>
      <br>
      <a class="ui button green" href="/app?path=<%- id %>">Make it exist</a>
      
    </div>

  </div>
</div>
<script>new ClipboardJS('.btn')</script>
  <script src='https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js'></script>
<script src='https://cdn.jsdelivr.net/npm/fomantic-ui@2.7.6/dist/semantic.min.js'></script><script  src="./app/form.js"></script>

</body>
</html>
