/*************************
      Floating label
**************************/

.ui.input.floating-label {
	position: relative;
	margin-bottom: 1rem;
}

.ui.input.floating-label>input,
.ui.input.floating-label>label {
	height: 3.125rem;
	padding: 0.75rem;
}

.ui.input.floating-label>label {
	text-align: left;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	margin-bottom: 0;
	/* Override default `<label>` margin */
	line-height: 1.5;
	color: #495057;
	pointer-events: none;
	cursor: text;
	/* Match the input under the label */
	border: 1px solid transparent;
	border-radius: 0.25rem;
	transition: all 0.1s ease-in-out;
}

.ui.input.left.icon.floating-label>label {
	left: 26.99px;
}

.ui.input.floating-label input::-webkit-input-placeholder {
	color: transparent;
}

.ui.input.floating-label input:-ms-input-placeholder {
	color: transparent;
}

.ui.input.floating-label input::-ms-input-placeholder {
	color: transparent;
}

.ui.input.floating-label input::-moz-placeholder {
	color: transparent;
}

.ui.input.floating-label input::placeholder {
	color: transparent;
}

.field.floating-label input:focus::-webkit-input-placeholder {
  color: transparent;
}

.field.floating-label input:focus:-moz-placeholder {
  color: transparent;
}

.field.floating-label input:focus::-moz-placeholder {
  color: transparent;
} 

.field.floating-label input:focus:-ms-input-placeholder {
  color: transparent;
}

.ui.input.floating-label input:not(:placeholder-shown) {
	padding-top: 1.25rem;
	padding-bottom: 0.25rem;
}

.ui.input.floating-label input:not(:placeholder-shown)~label,
.ui.input.floating-label input:-webkit-autofill~label {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	font-size: 12px;
	color: #777;
}

.ui.input.floating-label::-webkit-input-placeholder {
	color: #6c757d;
	opacity: 1;
}

.ui.input.floating-label::-moz-placeholder {
	color: #6c757d;
	opacity: 1;
}

.ui.input.floating-label:-ms-input-placeholder {
	color: #6c757d;
	opacity: 1;
}

.ui.input.floating-label::-ms-input-placeholder {
	color: #6c757d;
	opacity: 1;
}

.ui.input.floating-label::placeholder {
	color: #6c757d;
	opacity: 1;
}


/* Fallback for Edge
-------------------------------------------------- */

@supports (-ms-ime-align: auto) {
	.ui.input.floating-label>label {
		display: none;
	}
	.ui.input.floating-label input::-ms-input-placeholder {
		color: #777;
	}
}


/* Fallback for IE
-------------------------------------------------- */

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
	.ui.input.floating-label>label {
		display: none;
	}
	.ui.input.floating-label input:-ms-input-placeholder {
		color: #777;
	}
}


/**
  For demo
**/

body {
	background-color: #000;
}

body>.grid {
	height: 100%;
}

.image {
	margin-top: -100px;
}

.column {
	max-width: 450px;
}